@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SESAT";
  src: url("/Fonts/Myriad-Pro-Semibold.ttf");
}

@layer utilites {
  .\[appearance\:textfield\] {
    -webkit-appearance: textfield;
            appearance: textfield;
  }

  /* ... */
}
